<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="viladrich.arnau.final_project">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.UserProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ActivityDePas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Calculadora"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PagerHolderActivity" />
        <activity android:name=".Database.MyDatabaseContract" />
        <activity android:name=".Database.MyDatabaseHelper" />
        <activity
            android:name=".Activities.Memory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GPS_Files.GPSActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Ranking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.rankingClasses.DialogNotification" />
        <activity android:name=".Fragments_Entrada.Expulsat" />
        <activity
            android:name=".Activities.MusicPlayer"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>